<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sivard">

    <title>Информационный портал о пиве! - Админка</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/dist/app.css") %>">
  </head>

  <body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
      <header>
        <nav class='uk-navbar' role="navigation">
          <a class='uk-navbar-brand' href="/">Allbeerme</a>
          <ul class="uk-navbar-nav">
            <li><%= link "Пиво", to: admin_beer_path(@conn, :index) %></li>
            <li><%= link "Пользователи", to: admin_user_path(@conn, :index) %></li>
            <li><%= link "Картинки", to: admin_image_path(@conn, :index) %></li>
          </ul>
          <ul class='uk-navbar-flip'>
            <li>
              <%= if user = current_user(@conn) do %>
                Вы авторизованы как
                <strong><%= user.username %></strong>
                <br>
                <%= link "Выйти", to: admin_session_path(@conn, :delete, user.id), method: :delete %>
              <% else %>
                <%= link "Войти", to: admin_session_path(@conn, :new) %>
              <% end %>
            </li>
          </ul>
        </nav>
      </header>

      <%= if info = get_flash(@conn, :info) do %>
        <div uk-alert class="uk-alert uk-alert-success">
          <%= info %>
          <a class="uk-alert-close" uk-close></a>
        </div>
      <% end %>
      <%= if error = get_flash(@conn, :error) do %>
        <div uk-alert class="uk-alert uk-alert-danger" role="alert">
          <%= error %>
          <a class="uk-alert-close" uk-close></a>
        </div>
      <% end %>

      <main class='uk-grid' role="main">
        <div class='uk-width-1-1'>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

      <footer class='uk-grid'>
        <div class='uk-width-1-1'>Copyright © <%= Date.utc_today.year %> Sivard</div>
      </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/dist/app.js") %>"></script>
  </body>
</html>
