<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sivard">

    <title>Информационный портал о пиве! - Админка</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/dist/app.css") %>">
  </head>

  <body>
    <div class="container">
      <nav class='navbar navbar-expand-lg navbar-light bg-faded'>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link "Allbeerme", to: '/admin', class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link to: admin_beer_path(@conn, :index), class: 'nav-link' do %>
                Пиво <span class="sr-only">(current)</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link "Пользователи", to: admin_user_path(@conn, :index), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link "Картинки", to: admin_image_path(@conn, :index), class: 'nav-link' %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li>
              <%= if user = current_user(@conn) do %>
                Вы авторизованы как
                <strong><%= user.username %></strong>

                <%= link "Выйти", to: admin_session_path(@conn, :delete, user.id), method: :delete %>
              <% else %>
                <%= link "Войти", to: admin_session_path(@conn, :new) %>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
      <%= show_flash(@conn) %>

      <main role="main">
        <div class="row">
          <div class="col-12">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </main>

      <footer class='fixed-bottom'>
        <div class='container'>Copyright © <%= Date.utc_today.year %> Sivard</div>
      </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/dist/app.js") %>"></script>
  </body>
</html>
