<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render_existing(@view_module, "meta." <> @view_template, assigns) ||
        render(Allbeerme.LayoutView, "meta.html", assigns) %>

    <link rel="stylesheet" href="<%= static_path(@conn, "/dist/app.css") %>">
  </head>

  <body>
    <div class="container">
      <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link "Allbeerme", to: '/', class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <%= current_link(@conn, "Марки пива", beer_path(@conn, :index)) %>
          </ul>
        </div>
      </nav>

      <%= show_flash(@conn) %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer class='fixed-bottom'>
        <div class='container'>
          <div class='row'>
            <div class='col-12'>
              <div class='bg-dark text-white navbar'>
                Copyright © <%= Date.utc_today.year %> Sivard
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/dist/app.js") %>"></script>
  </body>
</html>
