<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render_existing(@view_module, "meta." <> @view_template, assigns) ||
        render(Allbeerme.LayoutView, "meta.html", assigns) %>

    <link rel="stylesheet" href="<%= static_path(@conn, "/dist/app.css") %>">
    <meta name="yandex-verification" content="ba6813d6847eae2b" />
  </head>

  <body>
    <div class="container">
      <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link "Allbeerme", to: '/', class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <%= current_link(@conn, "Марки пива", beer_path(@conn, :index)) %>
          </ul>
        </div>
      </nav>

      <%= show_flash(@conn) %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <footer class='fixed-bottom'>
        <div class='container'>
          <div class='row'>
            <div class='col-12'>
              <div class='bg-dark text-white navbar'>
                Copyright © <%= Date.utc_today.year %> Sivard
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/dist/app.js") %>"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter47296188 = new Ya.Metrika({
                        id:47296188,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47296188" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
