    <meta name="author" content="Sivard">
    <meta name="description" content="Информационный портал о пиве - здесь представлен полный список сортов пива.">
    <meta name="keywords" content="пиво, о пиве, сайт о пиве, все пиво мне">
    <title>Информационный портал о пиве.</title>
