<h2 class="text-center">Марки пива</h2>

<%= for beer <- @beers do %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="<%= beer.name %>">
    <div class="card-body">
      <h5 class="card-title"><%= beer.name %></h5>
      <p class="card-text"><%= beer.description %></p>
      <a href="/beers/<%= beer.id %>" class="btn btn-primary">Подробнее...</a>
    </div>
  </div>
<% end %>
