<h2>Пиво</h2>

<ul>

  <li>
    <strong>Название:</strong>
    <%= @beer.name %>
  </li>

  <li>
    <strong>Описание:</strong>
    <%= @beer.body %>
  </li>

  <li>
    <strong>Заголовок:</strong>
    <%= @beer.title %>
  </li>

  <li>
    <strong>Слова:</strong>
    <%= @beer.keywords %>
  </li>

  <li>
    <strong>Описание:</strong>
    <%= @beer.description %>
  </li>

</ul>

<%= link "Back", to: beer_path(@conn, :index) %>
