<h2 class='text-center'>Редактировать изображение</h2>

<p class="text-right">
  <%= link "Назад", to: admin_image_path(@conn, :index) %>
</p>

<%= render "form.html", changeset: @changeset,
                        action: admin_image_path(@conn, :update, @image), beers: @beers %>
