<h2>Загрузить новое изображение</h2>
<%= form_for @changeset, admin_image_path(@conn, :create), 
             [multipart: true], fn f -> %>
  <div class="form-group">
    <label>Изображение</label>
    <%= file_input f, :image %>
    <%= error_tag f, :image %>
  </div>
  <div class="form-group">
    <%= submit "Отправить", class: "btn btn-default" %>
  </div>
<% end %>
