<h2 class='text-center'>Загрузить новое изображение</h2>

<p class="text-right">
  <%= link "Назад", to: admin_image_path(@conn, :index) %>
</p>

<%= render "form.html", changeset: @changeset,
                        action: admin_image_path(@conn, :create) %>
