<h2>Редактиовать пиво</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_beer_path(@conn, :update, @beer) %>

<%= link "Назад", to: admin_beer_path(@conn, :index) %>
