<h2 class='text-center'>Добавить пиво</h2>
<p class="text-right">
  <%= link "Назад", to: admin_beer_path(@conn, :index) %>
</p>

<%= render "form.html", changeset: @changeset,
                        action: admin_beer_path(@conn, :create), logos: @logos %>

