<h2 class='text-center'>Добавить пиво</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_beer_path(@conn, :create) %>

<%= link "Назад", to: admin_beer_path(@conn, :index) %>
