<h2>ПОказать пользователя</h2>

<ul>

  <li>
    <strong>Имя пользователя:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Пароль digest:</strong>
    <%= @user.password_digest %>
  </li>

</ul>

<span><%= link "Редактировать", to: admin_user_path(@conn, :edit, @user) %></span>
<span><%= link "Назад", to: admin_user_path(@conn, :index) %></span>
